* {
  font-family: Helvetica;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

body {
  margin-top: 0px;
}

p {
  font-size: 22px;
  }

header {
  height: 69px;
  width: 100%;
  position: fixed;
  display: flex;
  border-bottom: 1px solid seashell;
  background-color: black;
  z-index: 1;
  opacity: 1;
  justify-content: space-between;
  align-items: center;

}

/* Attempting to center all images
.content {
  display: flex;
  justify-content: center;
}
*/
.logo {
  height: 50px;
  align-items: center;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

nav span {
  padding: 20px;
  font-size: 22px;
}

/* First Section - MISSION - Styles */

#mission {
  display: flex;
  width: 1200px;
  height: 700px;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
  justify-content: center;
  align-items: center;
  margin: auto;
  padding-top: 70px;
}

.mission-banner {
  width: 1200px;
  height: auto;
}

/* Second Section - FEATURED - Styles */

#featured {
  width: 1000px;
  height: 700px;
  margin: auto;
  padding-top: 70px;
}



.featured-teas {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.tea-item {
  text-align: center;
  padding: 10px;
  display: block;
}

.tea-item span {
  display: block;
  padding: 5px;
  font-weight: bold;
  text-align: center;
  font-size: 22px;
}
.tea-image {
  width: 300px;
  height: 200px;
}

/* Third Section - LOCATIONS - Styles */

#locations {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg");
  width: 1200px;
  height: 500px;
  margin: auto;
  opacity: 1.0;
  padding-top: 70px;

}

#locations h2 {
  background-color: transparent;
}

.location-list {
  width: 1000px;
  justify-content: space-between;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;

}

.location-info {
  width: 300px;
  opacity: 1.0 !important;
  background-color: black;
}

.copyright {
  text-align: left;
}
